@page "/addCharacter"
@page "/addCharacter/{IdCharacter:int}" 

 

<div class="d-flex">
    <h3 class="m-auto">@title</h3>
</div>


<div class="d-flex">
   
        <EditForm 
            Model="characters"
              class="form-control m-2"  >
              <DataAnnotationsValidator></DataAnnotationsValidator>
            <div>
                <label>First Name</label>
                <InputText 
                    @bind-Value="characters.FirstName" 
                    class="form-control mb-3" 
                    placeholder="First Name" />
                <ValidationMessage For="@(() => characters.FirstName)"/>
            </div>
        <div class="mb-1 m-auto d-flex">

            <div class="w-75">
                <label>Clan</label>
                <InputSelect class="form-select" @bind-Value="characters.IdClan">
                    <option>-- SELECT A CLAN --</option>

                    @foreach (var item in listClan)
                    {
                        <option value="@item.IdClan"> @item.ClanName</option>
                    }
                </InputSelect>


            </div>
            <button @onclick='() => SelectButtonModal("clan")'
                type="button" 
                class="btn btn-danger h-100 m-auto mb-0" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal">
                <i class="bi bi-file-earmark-plus"></i>
            </button>

        </div>

        <div class="mb-1 m-auto d-flex">

            <div class="w-75">
                <label>Jutsu</label>
                <InputSelect class="form-select" @bind-Value="characters.IdJutsu">
                    <option>-- SELECT A JUTSU --</option>

                    @foreach (var item in listJutsu)
                    {
                        <option value="@item.IdJutsu"> @item.JutsuName</option>
                    }
                </InputSelect>


            </div>
            <button @onclick='() => SelectButtonModal("jutsu")'
                type="button" 
                class="btn btn-danger h-100 m-auto mb-0" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal">
                <i class="bi bi-lightning-fill"></i>
            </button>

        </div>

        <div class="mb-1 m-auto d-flex">

            <div class="w-75">
                <label>Village</label>
                <InputSelect class="form-select" @bind-Value="characters.IdVillage">
                    <option>-- SELECT A VILLAGE --</option>

                    @foreach (var item in listVillage)
                    {
                        <option value="@item.IdVillage"> @item.VillageName</option>
                    }
                </InputSelect>


            </div>
            <button @onclick='() => SelectButtonModal("village")'
                type="button" 
                class="btn btn-danger h-100 m-auto mb-0" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal">
                <i class="bi bi-house-door-fill"></i>
            </button>

        </div>
        <div class="mb-1 m-auto d-flex">

            <div class="w-75">
                <label>Ocupation</label>
                <InputSelect class="form-select" @bind-Value="characters.IdOcupation">
                    <option>-- SELECT A OCUPATION --</option>
                    @foreach (var item in listOcupation)
                    {
                        <option value="@item.IdOcupation"> @item.OcupationName</option>
                    }
                </InputSelect>


            </div>
            <button @onclick='() => SelectButtonModal("ocupation")'
                type="button" 
                class="btn btn-danger h-100 m-auto mb-0" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal">
                <i class="bi bi-person-circle"></i>
            </button>

        </div>
           
        <div class="mb-1 m-auto d-flex">    

            <div class="w-75">
                <label>Status</label>
                <InputSelect class="form-select" @bind-Value="characters.IdStatus">
                    <option>-- SELECT A STATUS --</option>

                    @foreach (var item in listStatus)
                    {
                        <option value="@item.IdStatus"> @item.Alive</option>
                    }
                </InputSelect>
            </div>
            

        </div>

        <div>
            <label>Age</label>
            <InputNumber @bind-Value="characters.Age"
                         class="form-control mb-3"
                         placeholder="Age" />
        </div>

        <label>Image</label>
        <InputFile 
            class="form-control mb-3" 
            accept="image/png, image/jpeg, image/webp" 
            OnChange="LoadImage" />

        <div class="form-control">
            <button OnInvalidSubmit="SubmitData"
                type="button"
                class="btn btn-primary mb-1" 
                style="font-size: 12px"
                @onclick="() => SubmitData()">
                @btntitle
            </button>
            <button 
                    type="reset"
                class="btn btn-secondary mb-1" 
                style="font-size: 12px" 
                @onclick="() => ResetFields()">
                CANCEL
            </button>
        </div>

        </EditForm>
 
    <div class="form-control d-flex m-2">
        <img 
            src="@imagePreview" 
            alt="logo" 
            class="m-auto" 
            style="width : 200px; height: 200px; object-fit: fill" />
    </div>  
</div>

<div 
    class="modal fade" 
    id="exampleModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" 
                    id="exampleModalLabel">@ModalTitle</h1>
                <button 
                    type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <input 
                    type="text" 
                    @bind="propertyModel" 
                    class="form-control mb-3" 
                    placeholder="@namePlaceholder" /> 
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary"
                        data-bs-dismiss="@closeModal">
                    Close
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary"
                        @onclick="() => AddInfoAditiona()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

